<h2 id="why">why such a framework ?</h2>
<p>
<strong>A static website nowadays, is it a joke?</strong><br/>
No, it isn't, I'm very serious! Some websites, like GitHub, provide free hosting space, but only for static web 
pages, no DBMS, no PHP, nothing more than HTML.
</p>
<p>
There are many good solutions around but none of them suits my needs perfectly.
As I would professionally need such a framework in the coming months and
develop this type of application with Ruby is a real pleasure, I started the Genit project...
</p>
