<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="description" content="Genit is a kind of xhtml static web framework." />
<meta name="keywords" content="install download learn genit" />
<meta name="author" content="Xavier Nayrac" />
<title>Genit - Open Source Static Web Framework - <genit here="window_title"/></title>
<link rel="stylesheet" type="text/css" media="all" href="styles/alsa/all.css"/>
<link rel="stylesheet" type="text/css" media="screen" href="styles/grid.css"/>
<link rel="stylesheet" type="text/css" media="screen" href="styles/screen.css"/>
<link rel="stylesheet" type="text/css" media="print" href="styles/print.css"/>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/prototype/1.7.0.0/prototype.js"/>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/scriptaculous/1.9.0/scriptaculous.js"/>

</head>
<body>

  <div id="header">
      <div class="row">
        <div class="column grid_4"><h1>GENIT</h1></div>
        <div class="column grid_12"><genit class="menu" /></div>
      </div>
  </div>
  
  <div id="page_title">
    <div class="row">
        <div class="column grid_16">
          <h1><genit here="page_title"/></h1>
        </div>
      </div>
  </div>
  
  <div id="main"> 
    <div class="row">
      <div class="column grid_12" id="left-side">
        <genit class="pages" />
      </div>
      <div class="column grid_4">
        <div class="right-side-section"><genit class="fragment" file="quick-links.markdown"/></div>
        <div class="right-side-section"><genit class="fragment" file="quick-licenses.markdown"/></div>
      </div>
    </div>
  </div>
  
  <div class="row" id="footer">
    <div class="column grid_16"><p>Copyright 2011 Xavier Nayrac</p></div>
  </div>
  
</body>
</html>
